.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
  
  .grid-item {
    padding: 1rem;
  }
  
  .chart-card {
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  mat-card-header {
    background-color: #f1f1f1;
  }
  
  mat-card-title {
    font-weight: bold;
    font-size: 16px;
  }
  