/* Container styling */
.container {
  display: flex;
}

.vertical-container {
  display: flex;
  flex-direction: column; /* Arrange children vertically */
}

.horizontal-container {
  display: flex;
  flex-direction: row;
}

/* Each section occupies an equal width */
.section {
  flex: 1; /* Divide space equally */
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-section {
  flex: 0.75; /* Divide space equally */
  display: flex;
  justify-content: center;
  align-items: center;
}
